html, body{
    margin: 0;
}

.container {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

.button {
	border-radius: 10px;
	height: 40px;
	width: 50px;
	background-color: green;
	margin-top: 20px;
}

.block {
	padding-top: 15px;
	display: block;
	width: 175px;
	height: 80px;
	justify-content: center;
	border: 1px;
	border-color: black;
	text-align: center;
}

#arr {
	margin-top: 10px;
}